name: Run Rock Release Branching

on:
  workflow_call:
    inputs:
      release_branch:
        type: string
        default: release/therock-7.x
        
  workflow_dispatch:
    inputs:
      release_branch:
        description: "Name of branch to create (e.g., release/v1.2.3)"
        required: true
jobs:
  run-script:
    runs-on: ubuntu22.04

    steps:
      - name: Checkout current repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ROCm/TheRock   
          ref: main

      - name: Set up Git identity
        run: |
            git config --global user.name "rocm-ci"
            git config --global user.email "rocm-ci@amd.com"

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r build_tools/release_automation/requirements.txt

      - name: Run release script
        run: |
          BRANCH=${{ inputs.release_branch }}
          API_TOKEN="${{ secrets.PROD_API_TOKEN }}"

          # Run the external Python script
          python build_tools/release_automation/create_release_branch.py \
            -A "$API_TOKEN" \
            -B "$BRANCH" \
            --dry_run
